* {
	font-family: miFuente, Arial, sans-serif;
	font-weight: 300;
	margin: 0px;
	box-sizing: border-box;
}

html,
body {
	background-color: $white;
	color: $primary;
}

.pointer {
	cursor: pointer;
}

.flex {
	display: flex;
}

.center {
	align-items: center;
	justify-content: center;
}

.center-text {
	text-align: center;
}

.mb-2 {
	margin-bottom: 2rem;
}

.bold {
	font-weight: 500;
}

.paragraph{
	margin: 2rem 0;	
	line-height: 3rem;
}

@font-face {
	font-family: miFuente;
	src: url('../../assets/Roboto-VariableFont_wdth\,wght.ttf')
			format('woff2 supports variations'),
		url('../../assets/Roboto-VariableFont_wdth\,wght.ttf')
			format('woff2-variations');
}